.ABC{

  background-color: #;
  color:#black;
}

p{

  text-decoration-color: white;

}
.jumbotron{
  background: none;
  }

  .bg {
    /* The image */
    background-image: url("https://picsum.photos/1200/1200/?blur");
    background-size:cover;


    background-size: cover;
  }

  hr{
    background: white;
  }

  .contact-form{
  background:grey;
  color:white;
  margin-top: 20px;
  padding: 10px;

  }
