.ABC{

  background-color: #;
  color:#black;
}

p{

  text-decoration-color: white;

}
.jumbotron{
  background: none;
  }

  .bg {
    /* The image */
    background-image: url("https://picsum.photos/1200/1200/?blur");
    background-size:cover;


    background-size: cover;
  }

  hr{
    background: white;
  }

  .contact-form{
  background:grey;
  color:white;
  margin-top: 50px;
  padding: 50px;

  }

.projectpage{

  padding-top:50px;
  padding-bottom:200px;
}

.bbb{

  /* The image */
  background:grey;
  color:white;
  margin-top: 50px;
  padding: 50px;
}

.contactImage{
padding-right: 10px;
}

.contactbox{
  padding-bottom: 20px;

}
