@import url('https://fonts.googleapis.com/css?family=Montserrat');

.pad {
  padding: 10px;
  margin-top: 20px;
}

.navfot {
  text-decoration-color: white;
  background-color: #C5D5EA;
  padding: 10px;
}

html, body {
  margin: 0;
  height: 100%;
}

/*Makes the everything in the body that font. */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFEA;
  background-size: cover;
}

.maincontent {
  background-color: #D8D8D8;
}

.jumbotron {
  color: black;
  background: none;
}

/*Made card black*/
.card-text {
  color: black;
}



.card-title {
  color: black;
}

/* White line */
hr {
  background: white;
}

.card-group {
  padding-top: 20px;
}
