.jumbotron{

  /* Got rid of default background for jumbo and made the colour black  */
  color:black;
  background: none;

  padding: :40px;
  margin-top: 20px;
  }

  /* Made nav bar sticky so it can move using scroll spy and the nav bar goes infront of picture  */
  .sticky {
    position: fixed;
    top: 0;
    width: 59.15%;
     z-index: 99999;
  }
